body{
  background-image: url("image0 (2).jpeg");
  background-image: flex;
    height: auto;
    width: auto;
}
h1{
    margin-top: 50px;
    text-align: center;
    color: orange;
    margin-bottom: 150px;
}
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: orange;
  }
  
  .login-container label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
   .login-container a{
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40%;
  }
  .login-container a:hover{
    color:orange;
  }
  p{
    text-align: center;
    margin-bottom: -30px;
  }
  p:hover{
    cursor: pointer;
    color: orange;
  }
